@font-face {
    font-family: Nexa-EL;
    src: url(Nexa-ExtraLight.ttf);
}
@font-face {
    font-family: Nexa-H;
    src: url(Nexa-Heavy.ttf);
}
body {
    background: #142F43;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
#bg{
    width:80vw;
    height:80vh;
    position: fixed;
    top:0; left:0; bottom:0; right:0;
    z-index: -1;

}
#bg-fixed{
    width:100vw;
    height:100vh;
    position: absolute;
    top:0; left:0; bottom:0; right:0;
    z-index: -1;
}
.banner{
    margin-top: 15vh;
    margin-bottom: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Nexa-EL;
    font-weight: bolder;
    color: aliceblue;
    font-size: 3vh;
    line-height: 2px;
}
.name{
    font-family: Nexa-H;
    color: #32D874;
    font-size: 4vh;
    transition: text-shadow 0.2s;
}
.name:hover{
    text-shadow:
    0 0 10px #32D874;
}


.character-container{
    
    position: relative;
    height: 50vw;
    width: 50vw;
    max-width: 50vh;
    max-height: 50vh;
    background-color: #255172;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: scale 0.4s;
}

.character-container:hover{
    scale: 1.1;
}
.model-body{
    position: absolute;
    height: auto;
    width: 150%;
    max-width: 150%;
    text-align: center;
    z-index: 1;
   
}
.model-eyes{
    position: absolute;
    height: auto;
    width: 30%;
    z-index: 2;
    transition: left 0.1s, top 0.1s;
}

.eyes-container{
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 100%;
    left: 66%;
    top: 45.5%;
    z-index: 1;
}

.content-container{
    text-align: center;
    align-self: center;
    background-color: rgba(255,255,255,0.6);
    border-radius: 5vw;
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-holder{
    position: relative;
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
    right: 26%;
    bottom: 25%;
    transition: bottom ease-in-out;
    animation-name: floating;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-direction: alternate;
}

@keyframes floating{
    from{
        bottom: 27%;
    }
    to{
        bottom: 23%;
    }
}

.content-container > * {
    margin: 6vw;
}
.contact-container{
    height: auto;
    width: 90%;
    display: flex;
}

.contact-container-solid{
    width: auto;
    height: 100%;
    border-radius: 5vw;
    padding-bottom: 4vw;
    background-color: rgba(255,255,255,0.8);

}
.subtitle{
    font-family: Nexa-EL;
    font-weight: bolder;
    color: #142F43;
    font-size: 1.5vw;
    margin: 2vw;
}
.contact-form{
    margin-left: 5vw;
    margin-right: 5vw;
    padding-left: 0;
    background-color: #32D874;
 
}
.contact-form > div {
    display: flex;
    justify-content: right;
}
.contact-form > div > * {
    margin: 0.3vw 1vw 0.3vw 1vw;
    
}
.contact-form > div > input{
    height: 3vw;
    width: 65%;
    min-width: 65%;
    border: none;
    background-color: white;
    border-radius: 10vh;
  
}
.contact-form > div > label{
    font-family: Nexa-EL;
    font-weight: bolder;
    color: #142F43;
    font-size: 1.2vw; 
    

    
}


.footer{
    align-self: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.footer > p {
    color: white;
    text-decoration:underline;
}
