@font-face {
    font-family: Nexa-EL;
    src: url(Nexa-ExtraLight.ttf);
}
@font-face {
    font-family: Nexa-H;
    src: url(Nexa-Heavy.ttf);
}
body {
    background: #142F43;
    
}
.banner{
    margin-top: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Nexa-EL;
    font-weight: bolder;
    color: aliceblue;
    font-size: 3vh;
    line-height: 2px;
}
.name{
    font-family: Nexa-H;
    color: #32D874;
    font-size: 4vh;
}
.character-container{
    position: relative;
    height: 50vw;
    width: 50vw;
    max-width: 50vh;
    max-height: 50vh;
    background-color: #255172;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}
.model-body{
    position: absolute;
    height: auto;
    width: 150%;
    max-width: 150%;
    text-align: center;
    z-index: 1;
}
.model-eyes{
    position: absolute;
    height: auto;
    width: 30%;
    z-index: 2;
    
}

.eyes-container{
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 100%;
    left: 41%;
    top: 20.5%;
    z-index: 1;
}



