@font-face {
    font-family: Nexa-EL;
    src: url(Nexa-ExtraLight.ttf);
}
@font-face {
    font-family: Nexa-H;
    src: url(Nexa-Heavy.ttf);
}
img{
    pointer-events: none;
    user-select: none;
}
html{
    overflow-x: hidden;
}
body {
    background: #142F43;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
#bg{
    width:100vw;
    height:100vh;
    position: fixed;
    top:0; left:0; bottom:0; right:0;
    z-index: -1;

}

.banner{
    margin-top: 15vh;
    margin-bottom: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Nexa-EL;
    font-weight: bolder;
    color: aliceblue;
    font-size: 1.7vw;
    line-height: 2px;
}
.name{
    font-family: Nexa-H;
    color: #32D874;
    font-size: 3vw;
    transition: text-shadow 0.2s;
}
.name:hover{
    text-shadow:
    0 0 10px #32D874;
}


.character-container{ 
    position: relative;
    height: 50vw;
    width: 50vw;
    max-width: 50vh;
    max-height: 50vh;
    background-color: #255172;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: scale 0.8s;
}

.character-container:active{
    scale: 1.1;
    transition: scale 0.1s;
}
.model-body{
    position: absolute;
    height: auto;
    width: 150%;
    max-width: 150%;
    text-align: center;
    z-index: 1;
   
}
.model-eyes{
    left: 12%;
    top:5%;
    position: absolute;
    height: auto;
    width: 30%;
    z-index: 2;
    transition: left 0.05s, top 0.05s;
}

.eyes-container{
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 100%;
    left: 66%;
    top: 45.5%;
    z-index: 1;
}



.character-holder{
    position: relative;
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
    right: 26%;
    bottom: 25%;
    transition: bottom ease-in-out;
    animation-name: floating;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-direction: alternate;
}

@keyframes floating{
    from{
        bottom: 27%;
    }
    to{
        bottom: 23%;
    }
}

.content-container{
    text-align: center;
    align-self: center;
    background-color: rgba(255,255,255,0.6);
    border-radius: 1vw;
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container > * {
    margin: 6vw;
}

.contact-container{
    display: none;
    height: auto;
    width: 90%;
    display: flex;
}

.title{
    font-family: Nexa-H;
    color: #255172;
    font-size: 2.7vw;
    text-decoration:underline;
}


/* C O N T A C T */
.contact-container-solid{
    width: 60%;
    height: 100%;
    border-radius: 5vw;
    padding-bottom: 4vw;
    background-color: rgba(255,255,255,0.8);

}
.subtitle{
    font-family: Nexa-EL;
    font-weight: bolder;
    color: #142F43;
    font-size: 1.5vw;
    margin: 2vw;
}
.contact-form{
    margin: 0 3vw 0 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-form > div {
    width:90%;
}
.contact-form > div > *{
    margin: 0.3vw 0 0.3vw 0;
    height: 3vw;
    width: 100%;
    border: none;
    background-color: white;
    border-radius: 50px;
  
}


/* P R O J E C T */

.projects-container{
    height: auto;
    width: 90%; 
}
.project-scroller{
    height:max-content;
    background-color: rgba(0,0,0,0.07);
    border-radius: 10px;
    overflow: auto;
    white-space: nowrap;
    display: flex;
    width: auto;
    padding: 10px 0 10px 0;
}
.project-container{ 
    margin: 0 2vw 0 2vw;
    justify-self: center;
    background-color: rgba(255, 255, 255,0.7);
    aspect-ratio: 1/1;
    width:30vw;
    min-width: 20vw;
    box-shadow: 0px 0px 10px 2px rgba(20,47,67,0.1);
    border-radius: 5%;
    overflow: hidden;

    font-family: Nexa-EL;
    font-weight: bolder;
    color: #142F43;
    font-size: min(1.5vw, 100%);
    line-height: 14px;
    display: flex;
    flex-direction: column;
    align-items: start;
    transition: all 0.3s;
}
.project-container:hover{

    scale: 1.05;
}
.project-image{
    box-sizing: border-box;
    background-color: #C144EB;
    height:60%;
    width:100%; 

}

.project-container > p{
    text-align: left;
    max-width: 100%;
    margin-left: 1vw;
    margin-right: 1vw;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

.project-tools{
    font-size: 0.8vw;
    color: rgba(20,47,67,0.6);
}
.project-scroller::-webkit-scrollbar {
    margin-top:10px;
    width: auto;
    height: 10px;
    background-color: none; 
  }

.project-scroller::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.5);
    border-radius: 10vw;
}


.footer{
    align-self: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.footer > p {
    color: white;
    text-decoration:underline;
}
